* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: calibri;
    font-weight: 300;
    color: #454545;
}

/* navigationi */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin: 20px 0 20px;
}

#menu ul {
    font-family: sans-serif;
    font-weight: 400;
    color: #7B96C2ff;
    list-style: none;

}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: #ddd;
}

a.active {
    background-color: #555;
    color: #fff;
}

/* login */
select {
    float: right;
    padding: 10px;
    font-size: 400;
    border: solid 1px #7B96C2ff;
    margin:10px 0 10px;
}

.login {
    float: right;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 110%;
    color: #7B96C2ff;
    list-style: none;
    margin: 0 10px;
    padding: 10px;
    margin: 10px 10px;

}

/* header picture and logo */

.header-pic {
    position: relative;
    width: 100%;
    height: auto;
}

.logo-pic {
    position: absolute;
    width: 300px;
    height: 50;
    top: 130px;
    left: 50px;
    
}