* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: calibri;
    font-weight: 300;
    color: #454545;
}

/* navigation */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    margin: 10px 0 10px;
}

#menu ul {
    font-family: sans-serif;
    font-weight: 400;
    color: #7B96C2ff;
    list-style: none;

}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: #ddd;
}

a.active {
    background-color: #555;
    color: #fff;
}

/* login */
select {
    float: right;
    padding: 10px;
    font-size: 400;
    border: solid 1px #7B96C2ff;
    
}

.login {
    float: right;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 110%;
    color: #7B96C2ff;
    list-style: none;
    margin: 0 5px;
    padding: 10px;
    

}

/* header picture and logo */
#banner {
    position: relative;
    width: 100%;
}

#banner img {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 12%;
}

#burka {
    position: relative;
    height: 750px;
    background: url('../images/burqa-mit-bread-3.jpg') no-repeat center center;
    background-size: cover;
}




/* text on the header picture */
#burka-text {
    font-family: calibri;
    color: #d4804e;
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 300px;
    left: 50px;
    letter-spacing: 2px;
    padding: 20px 20px; 
    display: inline-block;  

}

#burka-text h1 {
    font-size: 220%;
    margin-bottom: 20px;
}

#burka-text h5 {
    font-size: 110%;
}

/* statistics section*/
#statistics {
    width: 90%;
    height: 300px;
    margin: 0 auto;
             
}

#statistics td {
    padding: 0 20px;
}

#statistics-td1 {
    color: red;
    font-size: 300%;
    font-weight: 700;
    vertical-align: bottom;
    text-align: left;
}

#statistics-td2 {
    color: green;
    font-size: 150%;
    font-weight: bold;
    vertical-align: top;
    text-align: left;
}



/* talib and girl */
#talib {
    width: 100%;
    height: 500px;
    background-color: #454545;
    display: flex;
    justify-content: space-between;
    
    
}

#talib div {
    width: 30%;
    height: 90%;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 120%;
    font-weight: 400;
    line-height: 25px;
    padding: 0 0 25px 35px;
    letter-spacing: 2px;
    vertical-align: center;

}

#talib img {
    width: 60%;
    padding: 25px;
    
}

#talib h2 {
    color: aqua;
    font-size: 150%;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 10px;
}

/* starting section */
#starting {
    width: 100%;
    height: 500px;
    background-color: #e2dac3;
    position: relative;
    box-sizing: border-box;
}

#starting h2 {
    color: #3d5777;
    font-size: 250%;
    font-weight: bold;
    padding: 50px;
}

#starting table {
    width: 70%;
    color: #3d5777;
    margin-left: 150px;
    font-size: 150%;
    font-weight: 700;
    
}

#starting td {
    padding: 10px;
    align-items: left bottom;

}

#Starting-td {
    color: #F5174e;
}